{
  "webPort": 8015,
  "dbName": "chat",
  "dbHost": "localhost",
  "dbPort": 28015,
  "bcryptRounds": 8,
  "authTokenBytes": 16,
  "httpPath" : "/bitdragon",

  "mysql": {
  	"host": "localhost",
  	"database": "",
  	"user": "root",
  	"password": ""
  }
}
